*BAGALAWIS, KRISTOPER CALVIN M.* <br>
*58006* <br>
*Engr. Dylan Lopez* <br>

# Set Theory

This code activity will try to guide you in applying the concepts, methods, and rules of Set Theory through code. We will go through with the data types in which Set Theory can be applied, how to write them in equation form im $\LaTeX$, and then we will try to look at a practical example through a user's requirement.

### Lists

In Python,  the most common iterable collection are lists. In lists, elements are ordered and chageable. Lists are denoted by enclosing objects with square brackets $[ ... ]$. Lists can be accessed through their indices, negative indexing is permitted.

In [ ]:
### Declaration
employees = ['John', 'Alex', 'Winston', 'Bob', 'Golbi'] ## Best practice when making a list of objects, list variable names should be in plural form

In [ ]:
### Single Access
employees[1]

'Alex'

In [ ]:
### Multiple Access
employees[0:3:1]

['John', 'Alex', 'Winston']

In [ ]:
### Multiple Access via Loops
for employee in employees: ## To make coding a bit more intuitive, we use the singular form of the list variable name to denote its elements.
    print(employee)

John
Alex
Winston
Bob
Golbi

In [ ]:
### Multiple Access via Loops
for i in range(len(employees)): ## You could also use indices for iterations.
    if(i%2 == 0):
        print(employees[i])

John
Winston
Golbi

In [ ]:
### Modifying Elements

In [ ]:
### Adding Elements
### employees = ['John', 'Alex', 'Winston', 'Bob', 'Golbi']
employees.append("Dorothy")

employees.insert(2, "Ozai")

###print(employees)

['John', 'Alex', 'Ozai', 'Winston', 'Bob', 'Golbi', 'Dorothy']

In [ ]:
### Removing Elements
employees.pop() 

employees.remove("Ozai")

del employees[-1]

employees.clear()

print(employees)

[]

### Tuples

Tuples are another collection data type in Python. There are several key differences between lists and tuples:
- Tuples are ordered collections, so order cannot be rearranged or modified.
- Since tuples are ordered collections $(a, b) \neq (b, a)$
- They are declared and denoted using parentheses $( ...)$

In [ ]:
### Declaration
img1_colors = (255, 0 , 0)  ## In image processing, this is called a tuple consisting of channels. 
                            ##It is structured as (Red, Green, Blue) such that the values in each channe; ranges from 0 - 255 
img2_colors = (64, 128, 111)

In [ ]:
### Single Access
red = img1_colors[1]

In [ ]:
### Multiple Access
employees[0:2:1]

In [ ]:
### Multiple Access via Loops
for color in img_colors:
    print(color)

In [ ]:
car_xpos = (3, 5, 12, 15)
car_ypos = (0, 1, 5, 2)
### Multiple Access via Parallel Iteration
for pos in zip(car_xpos, car_ypos):
    print(f'Coordinates of cars in ordered pair form: {pos}')

Coordinates of cars in ordered pair form: (3, 0)
Coordinates of cars in ordered pair form: (5, 1)
Coordinates of cars in ordered pair form: (12, 5)
Coordinates of cars in ordered pair form: (15, 2)

In [ ]:
### Modifying Elements
car_xpos = (3, 5, 12, 15)
car_xpos[0]

3

In [ ]:
### Removing Elements

del img1_colors(0)

In [ ]:
### Merging Tuples
car_pos = car_xpos + car_ypos

### Sets

Sets are collections which are unordered and unindexed. Repititions are not allowed in set structures and they are denoted by curly brackets $\{ ... \}$.

In [ ]:
### Declaration
bakery_A = {'bread', 'cracker', 'croissant', 'eclair', 'parfait','cannele', 'coffee','tea'}
bakery_B = {'bread', 'croissant', 'donuts', 'cinnamon roll', 'cookies','coffee','tea'}

In [ ]:
### Accessing Elements
bakery_A[0]

TypeError: 'set' object is not subscriptable

In [ ]:
### Multiple Access via Loops
for product in bakery_A:
    print(product)

cannele
eclair
coffee
croissant
cracker
bread
parfait
tea

In [ ]:
### Removing an Element

bakery_A.remove('cannele')

In [ ]:
### Membership
'coffee' in bakery_A
### Subsets
order = {'coffee', 'cinnamon roll'}
order.issubset(bakery_A)

True

In [ ]:
### Union
baker_st = bakery_A.union(bakery_B)
baker_st

{'bread',
 'cannele',
 'cinnamon roll',
 'coffee',
 'cookies',
 'cracker',
 'croissant',
 'donuts',
 'eclair',
 'parfait',
 'tea'}

In [ ]:
### Intersection
bakery_A.intersection(bakery_B)

{'bread', 'coffee', 'croissant', 'tea'}

In [ ]:
### Difference
bakery_A.difference(bakery_B)

{'cannele', 'cracker', 'eclair', 'parfait'}

### Dictionaries

Dictionaries are collections which is unordered, changeable like sets but are indexed. Like sets, they are denoted witn $\{...\}$ but objects are characterized by <b>keys</b> and described using <b>values</b>.

In [ ]:
### Declaration
bakery_A_prices = {'bread' : 60, 
            'cracker': 15, 
            'croissant': 40, 
           }

In [ ]:
## Accessing
bakery_A_prices['bread']

60

In [ ]:
## Accessing via Loops
for product in bakery_A_prices:
    print(product)

bread
cracker
croissant

In [ ]:
for product in bakery_A_prices:
    print(bakery_A_prices[product])

60
15
40

In [ ]:
for price in bakery_A_prices.values():
    print(price)

60
15
40

In [ ]:
for product, price in bakery_A_prices.items():
    print(product, price)

bread 60
cracker 15
croissant 40

In [ ]:
## Update / Modification
bakery_A_prices['bread'] = 60*0.9

In [ ]:
## Adding Elements
bakery_A_prices['coffee'] = 110

In [ ]:
## Removing Elements
print(bakery_A_prices)
print(bakery_A_prices.pop('cracker'))
print(bakery_A_prices)

{'bread': 60, 'cracker': 15, 'croissant': 40, 'coffee': 110}
15
{'bread': 60, 'croissant': 40, 'coffee': 110}

## Dataset Operations

For this section, we will use the sets below to pracitce some practical dataset operations.

In [ ]:
prime = [2,3,5,7,11,13,15,17,19,23]
odd = [1,3,5,7,9,11,13,15,17,19,21, 23]

### Intersection / Similarities

In [ ]:
for num in prime:
    if num in odd:
        print(num)

3
5
7
11
13
15
17
19
23

In [ ]:
def intersection(list1, list2):
    intersect = [num for num in list1 if num in list2]
    return intersect
print (num)

23

In [ ]:
prime_n_odd = intersection(prime, odd)
prime_n_odd

[3, 5, 7, 11, 13, 15, 17, 19, 23]

### Subtraction / Uniqueness

In [ ]:
for num in prime:
    if num not in odd:
        print(num)

2

In [ ]:
def subtraction(list1, list2):
    less  =[num for num in list1 if num not in list2]
    return less

In [ ]:
prime_less_odd = subtraction(prime, odd)
prime_less_odd

[2]

### Union / Merge

In [ ]:
union_repeat = prime + odd
union_repeat.sort()
union_repeat

[1, 2, 3, 3, 5, 5, 7, 7, 9, 11, 11, 13, 13, 15, 15, 17, 17, 19, 19, 21, 23, 23]

In [ ]:
union_norepeat = intersection(prime, odd) + subtraction(prime, odd) + subtraction(odd, prime)
union_norepeat.sort()
union_norepeat

[1, 2, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

In [ ]:
union_norepeat = list(set(prime).union(set(odd)))
union_norepeat

[1, 2, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

In [ ]:
def union(list1, list2, repetition=False):
    if repetition:
        pass
    else:
        pass
    return None

In [ ]:
prime_u_odd = union(prime, odd)
#print(prime_u_odd)

None

## Activities

### Lists

In [3]:
### START YOUR CODE BELOW HERE ###
#Lists
GAMES = ["Mobile Legends", "Call of Duty Mobile", "Valorant", "Dota 2", "Among Us" ]

In [5]:
#Single Access
GAMES [2]

'Valorant'

In [8]:
#Multiple Access
GAMES [0:1:2]

['Mobile Legends']

In [9]:
### Multiple Access (Loops)
for games in GAMES:
    print(games)

Mobile Legends
Call of Duty Mobile
Valorant
Dota 2
Among Us

In [11]:
#Adding Elements
GAMES = ["Mobile Legends", "Call of Duty Mobile", "Valorant", "Dota 2", "Among Us" ]
GAMES.append("LoL")
print(GAMES)

['Mobile Legends', 'Call of Duty Mobile', 'Valorant', 'Dota 2', 'Among Us', 'LoL']

In [14]:
GAMES = ["Mobile Legends", "Call of Duty Mobile", "Valorant", "Dota 2", "Among Us" ]
GAMES.insert(0, "Wild Rift")
print(GAMES)

['Wild Rift', 'Mobile Legends', 'Call of Duty Mobile', 'Valorant', 'Dota 2', 'Among Us']

In [16]:
### Removing Elements
GAMES = ["Mobile Legends", "Call of Duty Mobile", "Valorant", "Dota 2", "Among Us" ]
GAMES.pop(1)

'Call of Duty Mobile'

In [18]:
GAMES = ["Mobile Legends", "Call of Duty Mobile", "Valorant", "Dota 2", "Among Us" ]
GAMES.pop(2)

'Valorant'

In [19]:
GAMES = ["Mobile Legends", "Call of Duty Mobile", "Valorant", "Dota 2", "Among Us" ]
GAMES.remove("Dota 2")
print(GAMES)

['Mobile Legends', 'Call of Duty Mobile', 'Valorant', 'Among Us']

In [23]:
GAMES = ["Mobile Legends", "Call of Duty Mobile", "Valorant", "Dota 2", "Among Us" ]
del GAMES [0]
print(GAMES)

['Call of Duty Mobile', 'Valorant', 'Dota 2', 'Among Us']

In [24]:
GAMES = ["Mobile Legends", "Call of Duty Mobile", "Valorant", "Dota 2", "Among Us" ]
GAMES.clear()
print(GAMES)

[]

### Tuples

In [111]:
### Declaration
pix1_colors = (8, 0 , 16)  
pix2_colors = (64, 128, 111)

In [113]:
### Single Access
blue = pix1_colors[1]

In [114]:
### Multiple Access via Loops
for color in pix1_colors:
    print(color)

8
0
16

In [115]:
car_xpos = (2, 4, 6, 8)
car_ypos = (1, 3, 5, 7)
### Multiple Access via Parallel Iteration
for pos in zip(car_xpos, car_ypos):
    print(f'Coordinates of cars in ordered pair form: {pos}')

Coordinates of cars in ordered pair form: (2, 1)
Coordinates of cars in ordered pair form: (4, 3)
Coordinates of cars in ordered pair form: (6, 5)
Coordinates of cars in ordered pair form: (8, 7)

In [116]:
for px_colors in zip(pix1_colors, pix2_colors):
    print(px_colors)

(8, 64)
(0, 128)
(16, 111)

In [118]:
### Modifying Elements
car_xpos = (2, 4, 6, 8)
car_xpos[0]

2

In [120]:
### Merging Tuples
car_pos = car_xpos + car_ypos

### Sets

In [43]:
#Sets
mobile_games = {'Mobile Legends', 'Call of Duty Mobile', 'Among Us', 'Wild Rift', 'Genshin Impact'}
computer_games = {'Call of Duty Warzone', 'Valorant', 'Ragnarok', 'Cabal', 'Ran Online', 'GTA V'}

In [44]:
#Accessing Elements
print(mobile_games) 
print(computer_games)

{'Among Us', 'Genshin Impact', 'Mobile Legends', 'Wild Rift', 'Call of Duty Mobile'}
{'Ragnarok', 'Valorant', 'Cabal', 'GTA V', 'Call of Duty Warzone', 'Ran Online'}

In [48]:
MG = list(mobile_games)
MG[2]

'Mobile Legends'

In [49]:
#Multiple Access via Loops
for MG in mobile_games:
    print(MG)

Among Us
Genshin Impact
Mobile Legends
Wild Rift
Call of Duty Mobile

In [59]:
#Removing an Element
mobile_games.remove("Genshin Impact")
print(mobile_games)

{'Among Us', 'Mobile Legends', 'Wild Rift', 'Call of Duty Mobile'}

In [60]:
#Membership
'Mobile Legends' in mobile_games
### Subsets
PlayersPlay = {'Call of Duty Mobile','Mobile Legends'}
PlayersPlay.issubset(mobile_games)

True

In [61]:
#Union
games = mobile_games.union(computer_games)
games

{'Among Us',
 'Cabal',
 'Call of Duty Mobile',
 'Call of Duty Warzone',
 'GTA V',
 'Mobile Legends',
 'Ragnarok',
 'Ran Online',
 'Valorant',
 'Wild Rift'}

In [67]:
#Intersection
mobile_games.intersection(computer_games)

set()

In [66]:
#Difference
mobile_games.difference(mobile_games)

set()

### Dictionaries

In [73]:
#Dictionary
NamesAndAge = {'Marilou' : 42, 
         'Andrew': 41, 
         'Calvin': 20, 
        }

In [75]:
#Accessing
NamesAndAge['Calvin']

20

In [76]:
## Accessing via Loops
for Names in NamesAndAge:
    print(Names)

Marilou
Andrew
Calvin

In [77]:
for Names in NamesAndAge:
    print(NamesAndAge[Names])

42
41
20

In [78]:
for edad in NamesAndAge.values():
    print(edad)

42
41
20

In [81]:
for Names, edad in NamesAndAge.items():
    print(Names, edad)

Marilou 42
Andrew 41
Calvin 20

## Dataset Operations

In [83]:
even = [2,4,6,8,10,12,14,16,18,20]
odd = [1,3,5,7,9,11,13,15,17,19]

In [85]:
#Intersection/Similarities
for number in even:
    if number in odd:
        print(number)

In [87]:
#Intersection/Similarities
def intersection(list1, list2):
    intersect = [number for number in list1 if number in list2]
    return intersect
print (number)

20

In [89]:
even_and_odd = intersection(even, odd)
even_and_odd

[]

In [90]:
for number in even:
    if number not in odd:
        print(number)

2
4
6
8
10
12
14
16
18
20

In [91]:
def subtraction(list1, list2):
    less  =[number for number in list1 if number not in list2]
    return less

In [92]:
even_less_odd = subtraction(even, odd)
even_less_odd

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [93]:
#Union/Merge
merge = even + odd
merge.sort()
merge

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [96]:
merge_with_no_repeat = intersection(even, odd) + subtraction(even, odd) + subtraction(even, odd)
merge_with_no_repeat.sort()
merge_with_no_repeat

[2, 2, 4, 4, 6, 6, 8, 8, 10, 10, 12, 12, 14, 14, 16, 16, 18, 18, 20, 20]

In [95]:
merge_with_no_repeat = list(set(even).union(set(odd)))
merge_with_no_repeat

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [97]:
def union(list1, list2, repetition=False):
    if repetition:
        pass
    else:
        pass
    return None

In [100]:
evenunionodd = union(even, odd)

## Scratch Area: My Fandoms

You can use the area below to try your own code.

In [101]:
Sports = ["Basketball","Badminton","Soccer","Volleyball","Golf"]
Exercises = ["Jogging","Cycling","Walking","Running","Jump and Jack"]

In [102]:
HunionI = Sports + Exercises
HunionI.sort()
HunionI

['Badminton',
 'Basketball',
 'Cycling',
 'Golf',
 'Jogging',
 'Jump and Jack',
 'Running',
 'Soccer',
 'Volleyball',
 'Walking']